<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Joke Leaderboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard-page.css') }}">
    </head>
    <body>
        <section class="hero">
        </section>
        <!--Három oszlopos lista. Egy elem ál 3 spanből setup, punchline, rating.-->
        <main class="leaderboard-container">
            <ul id="leaderboard-list">
                <li class="leaderboard-item">
                    <span class="setup">Example setup</span>
                    <span class="punchline">Example punchline</span>
                    <span class="rating">0</span>
                </li>

                <li class="leaderboard-item">
                    <span class="setup">Example setup</span>
                    <span class="punchline">Example punchline</span>
                    <span class="rating">0</span>
                </li> 
                
            </ul>
        </main>
        <script src="{{ url_for('static', filename='leaderboard-page.js') }}"async defer></script>
        <footer>
            <a href="{{ url_for('main_page') }}" class="mp-link">
                Return to main page
            </a>
        </footer>
    </body>
</html>