<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Joke Portal</title>
        <meta name="description" content="Generate Jokes with a click of a button">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main-page-style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="hero">
            <div class="hero-content">
                <h1>Take a joke!</h1>
                <!--Ez a gomb hívja meg a random viccet a a backendről-->
                <button class="btn-primary" id="joke-btn">Generate</button>
            </div>
        </section>

        <main class="joke-content">
            <!--Ide fognak kerülni a viccek amikor meghívjuk őket backendről-->
            <div class="text-block">
                <!--Ide jön a backendről a setup rész-->
                <p class="joke-setup" id="setup">Example setup that is funny haha</p>
            </div>
            <div class="text-block">
                <!--Ide jön a backendről a punchline rész-->
                <p class="joke-punchline" id="punchline">Example punchline that is funny haha</p>
                <!--Ezeket majd javascriptben be kelessz kapcsolni amikor kap az oldal egy viccet-->
                <!--a data rating változik amikor megnyomod a gombot. Ha like akkor 1 és amikor dislikot nyomsz akkor -2 pontot vesz el a backendből
                és ugyanúgy visszafele. Ha 0 akkor 1/-1 a backendre a joke rating-->
                <div class="buttons" data-rating="0">
                    <button class="like-btn" data-id="1" disabled>&#x1F44D;</button>
                    <button class="dislike-btn" data-id="1" disabled>&#x1F44E;</button>
                </div>
            </div>
        </main>
        <script src="" defer></script>
        <footer>
            <a href="{{ url_for('leaderboard_page') }}" class="lb-link">
                Check Leaderboard
            </a>
        </footer>
    </body>
</html>